<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>Site made by using  Allan Lab. Site</a></p>
              


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		<p>We are part of the <a href="https://www.dii.uniroma2.it">Department of Enterprise Engineering</a> at the<a href="https://uniroma2.it"> University of Rome Tor Vergata</a>.
		</div>
		<div class="col-sm-4">
<!--		  Contact:<br />
Geschwister-Scholl-Platz 1<br />
		  80539 München<br />
		  Germany <br />
		  -->
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
